{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "quoteProps": "as-needed",
    "endOfLine": "lf",
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "semi": true,
    "printWidth": 120
}
